<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>

	<!-- STYLESHEETS : -->
	<%= render 'layouts/stylesheets' %>

<!--    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->

  </head>
  <body>
    <div class="container">
		<!-- HEADER : -->
		<%= render 'layouts/header' %>

      <section class="round">
        <%= yield %>
      </section>

		<!-- FOOTER : -->
		 <%= render 'layouts/footer' %>

    </div>
  </body>
</html>

